/* Light */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi/Satoshi-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

/* Variable */
@font-face {
  font-family: "Satoshi Variable";
  src: url("../assets/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900; /* range */
  font-style: normal;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../assets/fonts/Satoshi/Satoshi-VariableItalic.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: italic;
}
