@import "./fonts.css";
@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-background-2: #F2F2F2;


  --color-primary: #181818;
  --color-secondary: #1F1F1F;

  --color-detail:#262626;
  --color-detail-2: #B5B5B5;

  --font-primary: "Satoshi", sans-serif;
}

.dark {
  --color-background: #0A0A0A; 
  --color-menu:#1F1F1F;
  --color-text-1: #FFFFFF;
  --color-text-2: #f2f2f2;
  --color-detail: #6c6c6ca6;
  --font-primary: "Satoshi", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);  
  font-weight: 400;
}
