@import "./fonts.css";
@import "tailwindcss";

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

:root {
  --color-background: #f2f2f2;
  --color-text: #0a0a0a;
  --color-detail: #858585;

  --color-tag-category: #0288db;     
  --color-tag-category-2: #03c00c;   
  --font-primary: "Satoshi", sans-serif;
}

.dark {
  --color-background: #0a0a0a;
  --color-text: #f2f2f2;
  --color-detail: #858585;
  --color-tag-category: #81a4f4;
  --color-tag-category-2: #76d499;

  --font-primary: "Satoshi", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);

  /* 400 regular */
  font-weight: 400;
  color: var(--color-text);
}
