@import "./fonts.css";
@import "tailwindcss";

:root {
  /* Color */
  --color-background: #ddd9d5;
  --color-text: #e11b1e;
  --color-link-active: #801517;

  /* Text */
  --font-primary: "Satoshi", sans-serif;
}

.dark {
  --color-background: #262c31;
  --color-text: #bcbcbc;
  --color-link-active: #7d7d7d;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
}
